
            <div id="page-wrapper" style="padding-top: 10px; margin-top: 51px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3>Deadline</h3>

						<div class="panel panel-success">
						    <div class="panel-heading">
						     <a data-toggle="collapse" href="#collapse1">Môn học</a>
						    </div>
						    <div id="collapse1" class="panel-collapse collapse">
						        <div class="panel-body">
						            <form>
						                <div class="form-group">
						                    <label for="title">Tên môn:</label>
						                    <input type="text" class="form-control" ng-model="newTenMonHoc">
						                </div>
						                <div class="form-group">
						                    <label for="content">Mã môn:</label>
						                    <input type="text" class="form-control" ng-model="newMaMonHoc">
						                </div>
						                <button type="submit" class="btn btn-primary" ng-click="addMonHoc()">Thêm</button>
						                <button class="btn btn-warning">Hủy</button>
						            </form>
						            <table class="table table-striped table-hover" width="100%" cellspacing="0">
									    <thead>
									        <tr>
									            <th>Tên môn học</th>
									            <th>Mã môn học</th>
									            <th></th>
									        </tr>
									    </thead>
									    <tbody>
									    	<tr ng-repeat="monhoc in dataMonHoc">
									    		<td>{{ monhoc.tenmonhoc }}</td>
									    		<td>{{ monhoc.mamonhoc }}</td>
									    		<td>
									    			<button type="button" class="btn btn-primary btn-xs">Sửa</button>
						                			<button type="button" class="btn btn-primary btn-xs" ng-click="delMonHoc(monhoc)">Xoá</button>
									    		</td>
									    	</tr>
									    </tbody>
								    </table>
						        </div>
						    </div>
						</div>

						<div class="panel panel-success">
						    <div class="panel-heading">
						        <a data-toggle="collapse" href="#collapse2">Thêm deadline</a>
						    </div>
						    <div id="collapse2" class="panel-collapse collapse">
						        <div class="panel-body">
						            <form>
						                <div class="form-group">
						                    <label for="title">Tiêu đề:</label>
						                    <input type="text" class="form-control" ng-model="newTieudeDeadline">
						                </div>
						                <div class="form-group">
						                    <label for="content">Nội dung:</label>
						                    <textarea class="form-control" rows="5" ng-model="newNoiDungDeadline"></textarea>
						                </div>
						                <div class="form-group">
						                    <label for="sel1">Môn:</label>
						                    <select class="form-control" ng-model="newDeadLine_IdMonHoc">
						                        <option ng-repeat="monhoc in dataMonHoc" value="{{ monhoc.$id }}">{{ monhoc.mamonhoc }}</option>
						                    </select>
						                </div>
						                <div class="form-group">
						                    <label for="link">Link nộp:</label>
						                    <input type="text" class="form-control" ng-model="newLinknopDeadline">
						                </div>
						                <div class="row">
						                    <div class="col-sm-6">
						                        <div class="form-group">
						                            <label for="link">Ngày nộp:</label>
						                            <input type="text" class="form-control" ng-model="newNgaynopDeadline">
						                        </div>
						                    </div>
						                    <div class="col-sm-6">
						                        <div class="form-group">
						                            <label for="link">Giờ nộp:</label>
						                            <input type="text" class="form-control" ng-model="newGionopDeadline">
						                        </div>
						                    </div>
						                </div>
						                <button type="submit" class="btn btn-primary" ng-click="addDeadline()">Thêm</button>
						                <button class="btn btn-warning">Hủy</button>
						            </form>
						        </div>
						    </div>
						</div>

						<div ng-repeat="monhoc in dataMonHoc" ng-init="data=getFirebaseArray(RefDeadline, monhoc.$id)">
						Môn: {{ monhoc.mamonhoc }}
						<table class="table table-striped table-hover" width="100%" cellspacing="0">
						    <thead>
						        <tr>
						            <th>Ngày</th>
						            <th>Giờ</th>
						            <th>Title</th>
						            <th></th>
						        </tr>
						    </thead>
						    <tbody>
						        <tr ng-repeat="deadline in data">
						            <td>{{ deadline.ngaynop }}</td>
						            <td>{{ deadline.gionop }}</td>
						            <td>{{ deadline.tieude }}</td>
						            <td>
						                <button type="button" class="btn btn-primary btn-xs">Sửa</button>
						                <button type="button" class="btn btn-primary btn-xs" ng-click="delDeadline(data, deadline)">Xoá</button>
						            </td>
						        </tr>
						    </tbody>
						</table>
						</div>
                        </div>
                    </div>
                </div>
				 <div id="modal1" class="modal" role="dialog">
				    <div class="modal-content">
				        <div class="modal-body">
				            <form>
				                <div class="form-group">
				                    <label for="title">Tiêu đề:</label>
				                    <input type="text" class="form-control" id="title">
				                </div>
				                <div class="form-group">
				                    <label for="content">Nội dung:</label>
				                    <textarea class="form-control" rows="5" id="content"></textarea>
				                </div>
				                <div class="form-group">
				                    <label for="sel1">Môn:</label>
				                    <select class="form-control" id="sel1">
				                        <option>CNTT1</option>
				                        <option>AV2</option>
				                        <option>AV1</option>
				                        <option>NMLT</option>
				                    </select>
				                </div>
				                <div class="form-group">
				                    <label for="link">Link nộp:</label>
				                    <input type="text" class="form-control" id="link">
				                </div>
				                <div class="row">
				                    <div class="col-sm-6">
				                        <div class="form-group">
				                            <label for="link">Ngày nộp:</label>
				                            <input type="text" class="form-control" id="day">
				                        </div>
				                    </div>
				                    <div class="col-sm-6">
				                        <div class="form-group">
				                            <label for="link">Giờ nộp:</label>
				                            <input type="text" class="form-control" id="time">
				                        </div>
				                    </div>
				                </div>
				                <button type="submit" class="btn btn-primary">Sửa</button>
				                <button class="btn btn-warning">Hủy</button>
				            </form>
				        </div>
    				</div>
				</div>
            </div>